
.form-check {
    display: inline-flex;
    min-height: 1.5rem;
    padding: 0px 20px 30px;
}
.form-check-solid{
    margin-right:0.3rem;
}

.checkbox {
  position: relative;
  display: inline-block;
  border: 0px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}

.form-check-solid .form-check-input:checked {
    background-color: #20d489 !important;
}


