.formField-label {
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
}

.css-yk16xz-control{
  width: 100%;
  border: none;
  background-color: #F5F8FA ;
  height: calc(1.5em + .75rem + 2px);
}

.formField-input {
  
  columns: auto
}

.formField-label span:first-letter {
  text-transform: capitalize;
}

.form-label{
  font-weight: 600!important;
  font-size: 1.00rem!important;
    margin-bottom: .5rem;
}