.imageNPA {
    height: 500px;
    width: 500px;

 }
 
 .noProductAvailable {
     margin-top:20px;
     text-align: center;
     font-weight: bold;
 }
 
 .containerNPA{
     display: flex;
     justify-content: center;
     align-items: center;
 }

 @media(max-width:768px){
     .imageNPA {
         width: 100%;
         height: auto;
     }
 }