
html,
body {
  height: 100%;
}

body {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #FBF9F6 !important;
  color: #181c32!important;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 600 !important;
    line-height: 1.2;
}

a {
    color: #20d489 !important;
    font-weight: 600!important;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

a, a:hover {
    transition: color .2s ease,background-color .2s ease;
    text-decoration: none !important;
   

}

.container.main {
    max-width: 1140px;
    padding: 60px 0px;
}

.text-muted {
    color: #a1a5b7!important;
}
.me-2 {
    margin-right: .5rem!important;
}
.btn.btn-primary {
    color: #fff;
    border-color: #20d489;
    background-color: #20d489;
    
}

.btn.btn-primary:hover {
 color: #fff;
    border-color: #19b674;
    background-color: #19b674;

}


.btn.btn-light {
    color: #7e8299;
    border-color: #f5f8fa;
    background-color: #f5f8fa;

}
.btn.btn-light:hover{
    color: #7e8299;
 
}


.card.card-stretch {
    height: calc(100% - var(--bs-gutter-y));
    border: 0px solid rgba(0,0,0,.125);
}
.card {
    box-shadow: 0 0 20px 0 rgb(76 87 125 / 2%);
    border: 0;

}

.card>.card-header {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 70px;
    padding: 0 2.25rem;
    background-color: transparent;
}
.card>.card-body, .card>.card-footer {
    padding: 2rem 2.25rem;
}
.pt-12 {
    padding-top: 3rem!important;
}
