/* Commons */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');



html,
body {
  height: 100%;
}

body {


  background-color: #FBF9F6 !important;
  color: #181c32!important;
  font-family: Poppins,Helvetica,"sans-serif" !important;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 600 !important;
    line-height: 1.2;
}

a {
    color: #20d489;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

a, a:hover {
    transition: color .2s ease;
    text-decoration: none !important;
   
}

/* Button */

button:disabled {
    opacity: 0.3
}

.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color:#20d489!important;
    border-color: none !important;
    color: #fff;
    font-size: 1em;
}

.swal2-styled.swal2-deny {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #f5f8fa !important;
    border-color: #f5f8fa;
    color: #7e8299 !important;
    font-size: 1em;

    
}

.swal2-icon.swal2-warning{
    display: none !important;
}
.swal2-container.swal2-center>.swal2-popup{
    padding: 2rem;
}


.swal2-icon.swal2-success .swal2-success-ring {
    position: absolute;
    z-index: 2;
    top: -.25em;
    left: -.25em;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    border: .25em solid rgba(156, 219, 120, 0.3);
    border-radius: 50%;
}
/* ----Text */


.text-description {
    color: #a1a5b7!important;
    font-size: 1.020rem!important;
}

.text-muted {
    color: #a1a5b7!important;
}

.text-dark {
    color: #181c32!important;
}
.text-gray-600 {
    color: #7e8299!important;
}
.text-gray-800 {
    color: #3f4254!important;
}
.text-danger{
     color:#f1416c !important;
}

.text-hover-primary:hover, .text-hover-primary:hover i {
    transition: color .2s ease,background-color .2s ease;
    color: #20d489!important;
}


/* ----Fonts */
.fs-3 {
    font-size: 1.35rem!important;
}

.fw-bolder {
    font-weight: 600!important;
}
.fw-500{
    font-weight: 500;
}

/* ----Espaces */

.me-2 {
    margin-right: .5rem!important;
}
.ml-2 {
    margin-left: .2rem!important;
}
.pt-10 {
    padding-top: 2rem!important;
}
.pt-12 {
    padding-top: 3rem!important;
}

.pt-14{
    padding-top: 4rem!important;
}
.pb-12 {
    padding-bottom: 3rem!important;
}
.ms-2{
    margin-left: .5rem!important;
}

/* Navbar */
.navbar-brand{
    font-weight: 700;
}
.navbar-right{
    float: right;
}

.menu{
    justify-content: space-between;
}
/* Menu */
.navbar-light .navbar-nav .nav-link {
    color: #7e8299 !important;
}

.navbar-light .navbar-nav .nav-link:hover {
     color: #20d489 !important;
}


/* Main */
.container.main {
    max-width: 100%;
    padding: 60px 0px;
}


/* Card */

.card.card-stretch {
    height: calc(100% - var(--bs-gutter-y));
    border: 0px solid rgba(0,0,0,.125);
}
.card {
    box-shadow: 0 0 20px 0 rgb(76 87 125 / 2%);
    border: 0;
}

.Container{
    position: relative;
}
.ribbon{
    position: absolute;
}
.float-right {
    display: flex;
    justify-content: flex-end;
}
.Modal-Boder.modal-header{
  border-bottom: none;
}


/* Card - Homepage */

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125)!important;
    border-radius: 0.65rem !important;
}

.card>.card-header {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 70px;
    padding: 0 2.25rem;
    background-color: transparent;
}


.card.card-body {
    padding: 2rem 2.25rem;
    padding-bottom: 0.5rem;
}
.card-columns .card {
    margin-bottom: 1.75rem !important;
}


.card-img-top.home{
    border-top-left-radius: .65rem ;
    border-top-right-radius: .65rem;
}

.ribbon.home{
border-top-right-radius: .65rem;
}
.time{
    align-items: center;
    padding: 0.9rem 0rem;
}

.time.text-primary{
   color: #20d489 !important;

}

.participant{
   color: #f1416c!important;
}


/* Form */

.formField{
    margin-bottom: 15px;
}

.form-check{
    padding-left: 0.2rem !important;
    padding: 0px 0px 0px !important;
}



/* Alert */

.alert-danger.alertLogin{
    background-color: #fcd9e2;
    padding: 10px;
    border: 1px solid #fbc6d3;
    border-radius: .65rem;
    color: #912741;
}
.btn-icon.btn.btn-icon.btn-sm.icon{
    justify-content: center;
    background-color: #f5f8fa!important;
}



.bg-light {
    background-color: 245,248,250;
}


.dropdown-item button{
    width: 100%;
}



.card.card-flush>.card-header {
    border-bottom: 0;
        align-items: center;
}
.card.card-flush>.card-footer {
    border-top: 0;
    background-color: white;
}


.separator {
    display: block;
    height: 0;
    border-bottom: 1px solid #eff2f5;
}



/* Event Details */

.img-event{
    width: 100%;
    max-height: 550px;
}


.symbol .symbol-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #3f4254;
    background-color: #f5f8fa!important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: .65rem;
}

.symbol.symbol-45px .symbol-label {
    width: 60px;
    height: 60px;
}


.details-info {
    padding: 1rem 0rem;
    justify-content: space-around;
}

.symbol.tags{
    background-color: #E4FFF4;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #19B674;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: .65rem;
    padding: 0.5rem;
}

.icons-footer{
    justify-content: flex-end;
 
}

.icons-footer i{
        line-height: 1;
    font-size: 1rem;
    color: #a1a5b7;
}
.icons-footer .no-favorite{
color: #a1a5b7;
}
.icons-footer .favorite{
color:#f1416c;
transition: color 0.5s ease;
}

.no-favorite{
color: #a1a5b7;
}
.favorite{
color:#f1416c;
transition: color 0.5s ease;
}

.assistant{
color: #181c32;
transition: color 0.5s ease;
}

.no-assistant{
color: #a1a5b7;
}
.iconRRSS{
    border-radius: 0.65rem;
   
}

.icons-footer i:hover, i:active{
    transition: color .2s ease, color .2s ease;
    color: #20d489!important;
}


.mh-40px{
    padding: 10px;
}

.details a{
      color: #3f4254;
}

.tab-panel{
     color: #7e8299 !important;
    border-color: #f5f8fa;
    background-color: #f5f8fa;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
}
.btn.btn-light-danger{
    color: #7e8299;
    border-color: #f5f8fa;
    background-color: #f5f8fa;
}


/* Panel User Events  */


.row.row-cols-2{
    margin-right: 0;
    margin-left: 0;
}

.nav-item.dropdown:hover{
    background-color: #f9f2e7;
    font-size: .925rem;
    border-radius: .65rem;
}

.dropdown-toggle::after{
   color:black;
}
.dropdown-menu.show{
    width: 320px;
}
.mh-35px{
    margin-bottom: 0.4rem;
}

.py-10 {
    padding-top: 2.5rem!important;
    padding-bottom: 2.5rem!important;
}
.pt-3 {
    padding-top: .75rem!important;
}

.fs-6 {
    font-size: 1.075rem!important;
}
.row-cols-2>* {
    flex: 0 0 auto;
    width: 50%;
}

.border-bottom {
    border-bottom: 1px solid #eff2f5!important;
    
}



.user-title-menu{
    color: #181c32;
    font-weight: 500;
}


.symbol-label.bg-light-success {
    background-color: #f1faff!important;
}

.symbol-label.bg-light-warning{
    background-color: #fff8dd!important;
}

.symbol-label.bg-light-danger{
    background-color:#FCD9E2!important;
}

.border-end {
    border-right: 1px solid #eff2f5!important;
}


a:hover {
    color: #20d489 !important;
    text-decoration: underline;
}


/* User Dashboard */
.bg-success {
    background-color: #00b2ff!important;
}

.avatar-background{
    height: 18vh;
}

.symbol.symbol-circle, .symbol.symbol-circle .symbol-label, .symbol.symbol-circle>img {
    border-radius: 50%;
}
.symbol.symbol-100px .symbol-label {
    width: 100px;
    height: 100px;
}
.symbol-label.bg-symbols-avatar{
    background-color: #ffc700!important;
}

.bgi-size-contain {
    background-size: contain;
}

.flex-center {
    justify-content: center;
    align-items: center;
}
.bgi-size-contain {
    background-size: contain;
}
.bgi-position-x-center {
    background-position-x: center;
}
.bgi-position-y-center {
    background-position-y: center;
}
.position-relative {
    position: relative!important;
}
/* Sidebar Menu */

.dFnnGi .activeClicked >li {
    background: transparent !important;
    color: #20d489 !important;
    transition: color .2s ease !important;


}


.symbol.symbol-70px.symbol-2by3>img {
    max-width: 200px !important; 
    border-radius: 0.65rem;
    background-size: contain;
}
.mb-7 {
    margin-bottom: 1.75rem!important;
}

.btn.btn-bg-light {
    border-color: #f5f8fa;
    background-color: #f5f8fa;
   color: #7e8299;
   font-size: 0.8rem;
}

.dropdown-menu{
    border-radius: 0.65rem !important;
    margin: 0px !important;
    padding: 0px !important;
    z-index: 105!important;
    border: 0px transparent !important;
        box-shadow: 0 0 50px 0 rgb(82 63 105 / 15%);
    z-index: 105;
    width: auto;
}

.rounded-top-user {
    border-top-left-radius: 0.65rem !important;
    border-top-right-radius: 0.65rem !important;
}
.dropdown-header {

    display: block;
    padding: 0px !important;
    margin-bottom: 0;
}
.popup-user{
    max-height: 100px;
    background-color: #41058E;
}
.swal2-styled.swal2-default-outline:focus {
    box-shadow: none !important;
}
.swal2-styled.swal2-deny:focus {
    box-shadow: none !important;
}
.btn-check:active+.btn.btn-active-primary, 
.btn-check:checked+.btn.btn-active-primary, 
.btn.btn-active-primary.active, 
.btn.btn-active-primary.show, 
.btn.btn-active-primary:active:not(.btn-active), 
.btn.btn-active-primary:focus:not(.btn-active), 
.btn.btn-active-primary:hover:not(.btn-active), 
.show>.btn.btn-active-primary {
    color: #fff;
    border-color: #20d489;
    background-color: #20d489;
}

a:hover {
    transition: color .2s ease,background-color .2s ease;
}



/* Responsive */


@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    left: -200px;
}
}

@media(max-width:768px){
    .navbar-btn{
        width: 100% !important;
        margin: 0.5rem 0rem;

    }
    .signed{
            background-color: rgba(245,248,250,.5)!important;
            padding: 2.5rem!important;
            text-align: center;
            border-radius: .85rem!important;
            width: 100%;
            margin-top: 1rem;
            margin-bottom: 1rem;
    }
    .col-sm.d-flex{
    margin-bottom: 1rem;
    }

    .card-toolbar{
        padding-top: 2rem;

    }


    /* DetailsPage */
    .card>.card-header{
        padding: 0 1.25rem;   
    }

    .mb-mb-2{
       margin-bottom: 1.2rem;
    }
    .icon-responsive{
        flex-wrap: wrap;
    }

    .icon-responsive.pt-3{
    padding-top: 0rem !important;
    justify-content: space-evenly;
}

    .rrss{
        padding-top: 0.5rem !important;
    }
    .update{
        display:none;
    }

    .modal-dialog {
        margin: 1.5rem;
    }

    .nav-item.dropdown:hover {
    background-color: #fff;
    font-size: .925rem;
    border-radius: .65rem;
    }

    /* User Panel */
    .mobile-wrap{
        flex-wrap: wrap;
    }
   
    .mobile-container{
        width: 100%;
        padding-right: 0px;
        padding-left: 8px;
        margin-right: auto;
        margin-left: auto;
    }
 

    .mobile-space{
        padding: 0.5rem;
    }
   .symbol.symbol-70px.symbol-2by3>img {
    max-width:100% !important;
  
    }

    .nav-link {
    display: block;
    padding: 0.5rem 0rem;
    }

    .pt-4 {
    padding-top: .75rem!important;
    }
    .Sidebar{
        display: flex;
        height: auto;
        z-index: 1;
    }

   


}

@media(max-width: 1200px){
    .col-sm.d-flex{
    margin-bottom: 1rem;
}
  
}