
html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FBF9F6 !important;
  color: #181c32!important;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 600 !important;
    line-height: 1.2;
}

a {
    color: #20d489 !important;
    font-weight: 600!important;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

a, a:hover {
    transition: color .2s ease,background-color .2s ease;
    text-decoration: none !important;
   

}

.btn.btn-primary {
    color: #fff;
    border-color: #20d489;
    background-color: #20d489;
}

.btn.btn-primary:hover {
 color: #fff;
    border-color: #19b674;
    background-color: #19b674;

}
