@import url('../../../index.css');

.main-content {
  height: 100%;
}

.main-content {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FBF9F6 !important;
  color: #181c32!important;
}

.title-signin {
    padding: 20px 20px 10px;
}
.form-signin.new-event { 
    width: 100% ;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
}
.form-container{
    margin-bottom: 1.5rem;
    text-align: left;
    z-index: 0;

}


.form-new-event{

  padding: 20px 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}
.form-control{
    color: #5e6278 !important;
    background-color: #F5F8FA !important;
    background-clip: padding-box;
    border: 1px solid #F5F8FA!important;
    border-radius: .25rem;
  
}

.form-label{
  font-weight: 600!important;
  font-size: 1.00rem!important;
    margin-bottom: .5rem;
    z-index: 0;
}

.form-label.text-primary {
    color: #20d489 !important;
}

.form-label.text-primary:hover {
    color: #20d489 !important;
}

.mb-10{
      margin-bottom: 2.5rem!important;
}

/* Form Select */

.css-yk16xz-control{
    background-color: #F5F8FA !important;
    border-color: #f5f8fa !important;
    color: #5e6278;
    transition: color .2s ease,background-color .2s ease;
}

.css-26l3qy-menu{
  z-index: 10 !important;
    
}
.css-yk16xz-control{
  border-color: 2px solid rgba(32,212,137,.18823529411764706);
}

.css-1pahdxg-control {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-color: rgba(32,212,137,.18823529411764706) !important;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 0 1px rgba(32,212,137,.18823529411764706)!important;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-height: 38px;
    outline: 0!important;
    position: relative;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    box-sizing: border-box;
    z-index: 20!important;
}
.css-26l3qy-menu {
    top: 100%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 4px;
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1),0 4px 11px hsla(0, 0%, 0%, 0.1);
    margin-bottom: 8px;
    margin-top: 8px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}

.css-4ljt47-MenuList {
    max-height: 300px;
    overflow-y: auto;
    padding-bottom: 4px;
    padding-top: 4px;
    position: relative;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
}
.css-1n7v3ny-option {
    background-color: rgba(32,212,137,.18823529411764706)!important;
    color: inherit;
    cursor: default;
    display: block;
    font-size: inherit;
    padding: 8px 12px;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

.css-9gakcf-option {
    background-color: #20d489 !important;
    color: hsl(0, 0%, 100%);
    cursor: default;
    display: block;
    font-size: inherit;
    padding: 8px 12px;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}


/* Image Input  */
.dropzone.dz-clickable {
    cursor: pointer;
}


.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
    cursor: pointer;
}
.dropzone .dz-message {
    margin: 0;
    display: flex;
    text-align: left;
}

.rounded {
    border-radius: .65rem!important;
}

.col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}

.row-file-box{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 2.5rem;
}

.col-form-label {
    padding-top: calc(.75rem + 1px);
    padding-bottom: calc(.75rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.5;
}
.file-button{
        padding: calc(.55rem + 1px) calc(1.25rem + 1px);
        color: #fff;
        border-color: #20d489;
        background-color: #20d489;
}
/* Date picket */

.react-datepicker{
    padding-top:0rem;
    padding:0.5rem;
    margin: 0;
    border: 0;
    width: auto;
    box-shadow: 0 0 50px 0 rgb(82 63 105 / 15%);
    font-family: Poppins,Helvetica,sans-serif;
    z-index: 1000;
    border-radius: .65rem;
    

}
.react-datepicker__header {
    text-align: center;
    background-color: #ffffff;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0.3rem;
    padding: 8px 0;
    position: relative;
}
.react-datepicker__navigation{
    margin:1rem;
   
}
.react-datepicker__triangle{
    display: none;
}
.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
    padding-top: .35rem;
    padding-bottom: .35rem;
    border-radius: .65rem;
    background: 0 0;
    border-color: transparent;
    color: #181c32;
    font-weight: 500;
    outline: 0!important;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    min-width: 32px;
    width: 32px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    white-space: nowrap;
    cursor: pointer;
}
.react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover, .react-datepicker__month-text--selected:hover, .react-datepicker__month-text--in-selecting-range:hover, .react-datepicker__month-text--in-range:hover, .react-datepicker__quarter-text--selected:hover, .react-datepicker__quarter-text--in-selecting-range:hover, .react-datepicker__quarter-text--in-range:hover, .react-datepicker__year-text--selected:hover, .react-datepicker__year-text--in-selecting-range:hover, .react-datepicker__year-text--in-range:hover {
    background-color: #20d489!important;
    color: white!important;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
    background-color: #20d489!important;
    color: white!important;
}
.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name{
        color: #5e6278;
}



button#btn_enviar{
    background-color: red;
}
.f-sm{
    font-size: 0.9rem !important;
}
.mb-2, .my-2 {
    margin-bottom: 0.5rem !important;
}
/* Responsive */

@media(max-width:768px){
    body{
      padding-top: 10px;
    }
     
   .form-container{

        width: 60% !important;
    }
    .mobile-wrap{
        display: block !important;
    }

    .drOHjW {
    display: contents !important;
    grid-template-columns: 1fr;
    gap: 0px;
    }
    .form-header.ml-3{
    margin-left: 0rem !important;
    }

  
}

@media(max-width: 1200px){
   body{
      padding-top: 10px;
    }
   
}

.react-datepicker-popper {
  z-index: 100 !important;
}

.imageLoaded {
    width: 100%;
}